/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  /* font-size: 62.5%; */
  font-size: 100%;
  --font-size--xsmall: 1rem; /* 10px */
  --font-size--small: 1.6rem; /* 16px */
  --font-size--default: 1.8rem; /* 18px */
  --font-size--medium: 2rem; /* 20px */
  --font-size--large: 2.4rem; /* 24px */
  --font-size--xlarge: 3.2rem; /* 32px */

  /* colors */

  --color-bronze: rgb(205, 127, 50);
  --color-dark-blue: rgb(43, 120, 190);
  --color-light-blue: rgb(25, 145, 238);
  --color-electric: rgb(197, 191, 225);
}

body {
  background: black;
  color: white;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/******************************************
/* LAYOUT
/*******************************************/

html {
  padding: 0 5rem;
}

.mox-bootstrap {
  justify-self: center;
  max-width: 990px;
  padding: 1rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
img {
  border: 2px solid var(--color-bronze) !important;
}

.mox-nap {
  border: none !important;
}

.mox-inventorydetail-new {
  padding: 1rem;
}

.mox-bootstrap .btn-primary {
  background: var(--color-bronze);
  border: none;
}

.mox-bootstrap .btn-primary:hover {
  background: var(--color-bronze);
  color: black;
  border: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.nav-bar ul {
  padding: 0;
}
.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-item {
  padding: 0.5em 1.25em;
}

a {
  color: white;
  text-decoration: none;
}

a:hover,
a:focus {  
  color: var(--color-bronze);
  animation: fadeIn .3s
}

@keyframes fadeIn {
  0% { color: white; }
  100% { opacity: 1; }
}

h1 {
  font-size: var(--font-size--xlarge);
}
h2 {
  font-size: var(--font-size--large);
}

p {
  font-size: var(--font-size--default);
}

span {
  font-size: var(--font-size--small);
}

a {
  font-size: var(--font-size--default);
}

.badge-pill {
  background: black !important;
}

#layoutsortform {
  display: none;
}

/******************************************
/* Header
/*******************************************/
header {   
    display: flex;    
    justify-content: center;    
    text-align: center;
    max-width: 990px;
    width: 100%;  
    background: black;  
}
/******************************************
/* Main
/*******************************************/
.main {   
  display: flex;
  justify-content: center;  
  max-width: 990px;  
  background: black;   
}

.main h1 {
  text-align: center;
}
/******************************************
/* Footer
/*******************************************/

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  max-width: 990px;
  width: 100%;
  gap: 2rem;
  background: black;
  margin-bottom: 1rem;  
}

.footer strong {
  font-size: var(--font-size--medium);
}
.mox-product-column-body {
  padding-left: 0;
  padding-right: 0;
}


/* .mox-spec-column {
  margin: 0 .25rem;
} */

/******************************************
/* media query
/*******************************************/


@media (min-width: 990px) {
  :root {
    font-size: 62.5%;
  }
  /* .car {
    flex-basis: 30%;
  } */
}

@media (max-width: 500px) {
  
  html {
    width: 100%;
    padding: 0;
  }

header,
.main,
.footer {
  padding: 0 1rem;
}
  
}

